
<h2>Scegli una pagina</h2>
<main>
  <div routerLink="/clienti" class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Clienti</h5>
      <p class="card-text">Pagina clienti con tutta la lista clienti aziendali</p>
    </div>
  </div>
  <div routerLink="/utenti" class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Utenti</h5>
      <p class="card-text">Lista utenti con account al software aziendale</p>
    </div>
  </div>
  <div routerLink="/fatture" class="card text-bg-light mb-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Fatture</h5>
      <p class="card-text">Lista fatture aziendali con tutti i dettagli.</p>
    </div>
  </div>
</main>






















