

.carta{
  background-color: black;
  padding: 2.5em;
}

.details{
  margin-bottom: 2em;
  font-size: 1.4rem;
  font-weight: 400;
}

.titoletto{
  font-weight: bold;
}

button{
  font-size: 1.5rem;
}

#dialog{
  background-color: rgb(16, 16, 67);
  color:white;
}
